ul#myRoundAbout{
	position: relative;
}
#gallery li {
	position: absolute;
	width: 50%;
	left: 20%;
	z-index: 2;
}
#gallery li:first-child{
	width: 40%;
	left: 25%;
	margin-left: -10%;
	margin-top: 5%;
	z-index: 1;
}
#gallery li:last-child{
	width: 40%;
	left: 25%;
	margin-left: 10%;
	margin-top: 5%;
	z-index: 1;
}
#content article {
	width: 33.3333%;
	float: left;
}
#content article img{
	max-width: 100%;
}
#content2 article {
	width: 50%;
	float: left;
}
#content2 article img{
	max-width: 100%;
}
@media (max-width: 650px) {
	#gallery li {
		position: absolute;
		width: 75%;
		left: 12.5%;
		z-index: 2;
	}
	#gallery li:first-child{
		width: 75%;
		left: 12.5%;
		margin-left: -10%;
		margin-top: 10%;
		z-index: 1;
	}
	#gallery li:last-child{
		width: 75%;
		left: 12.5%;
		margin-left: 10%;
		margin-top: 20%;
		z-index: 3;
	}
	#content article {
		width: 100%;
	}
	#content article img{
		width: 50%;
	}
	#content2 article {
		width: 100%;
		}
	#content2 article img{
		max-width: 100%;
	}
}