
/*body {
	background-color: green;
}*/

@media screen and (max-width: 1400px){
	#p1 {
	background-color: blue;
	float: left;
	}
	#p2 {
	background-color: green;
	float: right;
	}
	#p3 {
	background-color: red;
	float: left;
	}
}

@media screen and (max-width: 1200px){
	#p1 {
	background-color: green;
	float: right;
	}
	#p2 {
	background-color: red;
	float: left;
	}
	#p3 {
	background-color: blue;
	float: right;
	}
}

@media screen and (max-width: 900px){
	#p1 {
	background-color: red;
	float: right;
	}
	#p2 {
	background-color: blue;
	float: left;
	}
	#p3 {
	background-color: green;
	float: left;
	}
}


@media print and (max-width: 557px){
	h1 {
		font-size: 5000%;
	}
}

.paragraph {
	display: block;
    width: 33.333333%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    float: left;
}





